
section {
    padding-top: 150px;
}
form {
    border: solid 1px ;
    margin: 0px 400px 150px 400px;
}
form h4 {
    max-width: 350px;
}
form article {
    max-width: 400px;
}
.nomeEmail {
    margin-left: 10px;
    margin-bottom: 10px;
}
#email {
    margin-left: 10px;
    width: 295px;
}
#nome {
    margin-left: 10px;
    width: 300px;
}
#sugest {
    margin-left: 10px;
}
#mensagem {
margin-left: 10px;
}
#mensagem2 {
    margin: 20px 0px 10px 10px;
    min-width: 400px;
    max-width: 401px;
    min-height: 150px;
} 
#formEnviar {
    margin: 20px 0px 10px 10px;
}