:root{
    --cor-primaria: #21da5e;
}
header {
    margin: -8px -8px 0px -20px;
    padding: 30px 20px 20px 20px;
    background-color: var(--cor-primaria);
    max-height: 100px;
    position: fixed;
}
aside{
    position: absolute;
    left: 0;
    top: 0;
    max-width: 200px;
    z-index: 2;
}
#logo {
    max-width: 100px;
    max-height: 100px;
}
#menu {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding-right: 30px;
}